/* Change the color of the Dark mode toggle button */
[data-bs-theme="dark"] .btn {
    color: black;
    background-color: #00e6e6;
}

[data-bs-theme="light"] .btn {
    color: black;
    background-color: #00e6e6;
}

/* Dark model button styling */
#themeToggle {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    cursor: pointer;
}

/* Change the font color of the tabs in dar mode */
[data-bs-theme="dark"] a {
  color: #00e6e6; /* Light cyan - easier to see on dark backgrounds */
}

[data-bs-theme="dark"] a:hover {
  color: #80ffff; /* Slightly lighter on hover */
}

/* Tabs slyling */
nav ul {
    list-style: none;
    padding: 10;
    margin: 5;
    font-weight: bold;
}

nav li {
    display: inline;
    border: solid;
    border-width: 1px 3px 0 1px;
    margin: 0 -1px 0 0;
    padding: 10px;
    /* background-color: #d1fff0d6; */
    border-radius: 10px 10px 0px 0;
}

/* Float the tables to left and adjust width to fit content */
.table-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

#dataTable {
    width: auto;
}